@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap');
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

.text-muted {
    color: #bcbcbc !important;
}

.text-secondary {
    opacity: 0.5;
}

// ==================================================================
// card
// ==================================================================
.card {
    position: relative;

    &__header {
        &--absolute {
            position: absolute;
            left: 3rem;
            top: 0;
            transform: translateY(-50%);
            background-color: #fff;
            border-radius: 4px;
            padding: 4px 20px;
        }
    }
}

// ==================================================================
// card-eco
// ==================================================================
.card-eco {
    background-color: #0e0f3b !important;
}

// ==================================================================
// parametr-card
// ==================================================================
.parametr-card {
    display: flex;
    align-items: center;

    &__icon {
        width: 2.2rem !important;
        height: 2.2rem;
        font-size: 2.2rem;
    }

    &__text-block {
        margin-left: 1.6rem;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -15px;
            width: 1px;
            height: 35px;
            border-left: 1px solid #dee2e6;
        }

        &--before-hidden::before {
            display: none;
        }
    }

    &__title {
        margin: 0;
    }

    &__description {
        font-size: 1.4rem;
        margin: 0;
        line-height: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &--primary {
            font-weight: bold;
            letter-spacing: 1px;
        }
    }
}

.app__header {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    bottom: 50px;
}

.car-bg {
    background-image: url('~@/assets/img/app_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    // background-attachment: fixed;
    backdrop-filter: blur(2px);
}